
body {
	background-color: #CCCCCC;
	font-family: helvetica,Arial,Geneva,SunSans-Regular,sans-serif;
	font-size: 0.8em;
}


a {
        text-decoration: none;
        color: #FFFFFF;
}

a:link {
        color: #FFFFFF;
}
a:visited {
        color: #000000;
}
a:active {
        color: #000000;
}
a:hover {
        color: #FFFF55;
}

